*{
  box-sizing:border-box;
}

html,body{
  background-color:rgba(33,33,33,1);
  text-align: center;
}
header{
  width:100%;
  height: 200px;
  background-color:rgba(27, 163, 156, 1);
  position: relative; 

}
nav{
  width:100%;
  height: 100px;
  background: #555555;
  position: relative;
  bottom: 0;
}
h1{
  text-align: center;
}
section{
  width:100%;
  height: 500px;
  background: #95a5a6;
}
footer{
  width:100%;
  height: 70px;
  text-align:center;
  background-color: rgba(27, 163, 156, 1);
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #333;
}
p{
  color: #FFFFFF;
  font-size:17px;
}
.efeito{
}
#foto{
  position:absolute;
  width:205px;
  height:205px;
  margin-left:100px;
  box-shadow: 3px 3px 10px 5px #000;
  -moz-box-shadow: 3px 3px 10px 5px #000;
  -webkit-box-shadow: 3px 3px 10px 5px #000;
  -o-box-shadow: 3px 3px 10px 5px #000;
}
#menu{
  margin-right:100px;
  margin-top:150px;
  float:right;
}

#menu a{
  padding:40px 40px;
  text-decoration:none;
  color:white;
  text-shadow: 1px 1px 1px #000000;
}
#menu a:hover{
  background-color:rgba(33,33,33,1);
  color:rgba(27, 163, 156, 1);

}
#menu2{
  clear:both;
  margin-right:800px;
  margin-top:-15px;
  float:right;
}

#menu2 a{
  padding:20px 20px;
  text-decoration:none;
  color:white;
  text-shadow: 1px 1px 1px #000000;
}
#menu2 a:hover{
  background-color:rgba(33,33,33,1);
  color:rgba(27, 163, 156, 1);

}
#escopo1{
  clear:both;
  padding:250px;
  width:100%;
  text-align:left;
  min-height: 500px;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #000000;
}
#enviar{
  float:right;
  padding: 10px;
  margin: 10px 10px 10px 10px;
}
h6{
  float:center;
  padding:20px;
}
